@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --font-secundary: "Dancing Script", cursive;
  --color-bg: #f7f5f2;

  // Cores principais
  --color-primary: #9cc3e6;
  --color-secondary: #5390c6;
  --color-accent: #a8e6cf;

  // Fundo e texto
  --color-white: #fdfdfd;
  --color-text: #333333;
  --color-text-secondary: #666666;

  // Estados
  --color-error: #ff6b6b;
  --color-favorite: #ffc0cb;

  // Tamanhos de fonte
  --font-size-sm: 0.875rem; // 14px
  --font-size-base: 1rem; // 16px
  --font-size-lg: 2rem; // 32px
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--text-color);
  height: 100%;
}

/* Garante layout de altura completa */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--font-size-base);
}

/* Deixa o conteúdo crescer e empurrar o Footer */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lista {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0;
}

.container {
  padding: 0;
  padding: 0.5rem 4rem;
}

.tituloPrincipal {
  font-family: var(--font-secundary);
  color: var(--color-secondary);
  font-size: var(--font-size-lg);
  text-align: center;
  margin: 80px auto;
}

.botao {
  padding: 0.5rem 2rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-weight: bold;
  font-size: var(--font-size-base);
  border-color: var(--color-primary);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
