.home {
  padding: 0;
  padding: 0.5rem 4rem;
}

.titulo{
  font-family: var(--font-secundary);
  color: var(--color-secondary);
  font-size: var(--font-size-lg);
  text-align: center;
}

.paragrafo{
  margin-bottom: 4rem;
  text-align: center;
  color: var( --color-text-secondary);
}