.imagens{
    width: 18vw;
    height:29vh;
    border-radius: 30px;
    padding-top: 12px;

    @media (max-width: 992px) {
        width: 28vw;
        height: 35vh;
    }

    @media (max-width: 768px) {
        width: 43vw;
        height: 30vh;
    }
}

.listaItem{
    width: 22vw;
    margin-bottom: 3rem;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 8px;
    background-color: var(--color-white);
    padding: 0 1rem;

    div{
        text-align: center;
    }

    @media (max-width: 992px) {
        width: 33vw;
    }
    
    
    @media (max-width: 768px) {
        width: 50vw;
    }
  
}

.listaTexto{
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
    margin-bottom: 1.5rem;
    text-align: justify;
}


.titulo{
    font-weight: bold;
    color: var(--color-secondary);
    font-size: var(--font-size-base);
    margin: 0;
}

.botao{
    padding: 0.5rem 2rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-weight: bold;
    font-size: var(--font-size-base);
    border-color: var(--color-primary);
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}
