.navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;

}

.lista{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;

  @media (max-width: 768px) {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 87%;
    right: 15px;
    width: 20%;
    height: auto;
    color: var(--color-secondary);
    background-color: var(--color-white);
    gap: 1rem;
    padding: 8px;
    border-radius: 8px;     
    z-index: 1;  
  }
}

.show {
  @media (max-width:768px) {
    display: flex;
  }
}

.listaItem :hover{
  text-decoration: underline;
  font-weight: bold;
}

